<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smart Asthma Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="/static/css/jsDatePick_ltr.min.css" />
<!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="/static/js/jsDatePick.min.1.3.js"></script>
<!-- 
  After you copied those 2 lines of code , make sure you take also the files into the same folder :-)
    Next step will be to set the appropriate statement to "start-up" the calendar on the needed HTML element.
    
    The first example of Javascript snippet is for the most basic use , as a popup calendar
    for a text field input.
-->
<script type="text/javascript">
  window.onload = function(){
    global_obj = new JsDatePick({
      useMode:2,
      target:"cal1",
      dateFormat:"%Y-%m-%d"
      
    });
    global_obj1 = new JsDatePick({
      useMode:2,
      target:"cal2",
      dateFormat:"%Y-%m-%d"
      
    });
    
    global_obj4 = new JsDatePick({
      useMode:2,
      target:"cal5",
      dateFormat:"%Y-%m-%d"
      
    });
  };
  
</script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        //var da2 = "{{ data1|safe }}";
        //document.write({{m4}});
        var da1 = new Array();
        var i =1;
        da1[1] = "Monday";
        da1[2] = "Tuesday";
        da1[3] = "Wednesday";
        da1[4] = "Thursday";
        da1[5] = "Friday";
        da1[6] = "Saturday";
        da1[7] = "Sunday";
        /*for(var x in {{data4}}){
    da1[i] = x; 
        i++;}


        da1[1] = {{ data4 }}
        da1[2] = {{data5}}*/
        //var arr = {{count_medicine}}.split(",");
        //document.write(da1[1]);
        data.addColumn('string', 'Day');
        data.addColumn('number', 'Controller');
        data.addColumn('number', 'Reliever');
        data.addColumn('number', 'Symptoms');
        data.addRows([
          
          [da1[1],{{m1}},{{r1}},{{s1}}],
          [da1[2],{{m2}},{{r2}},{{s2}}],
          [da1[3],{{m3}},{{r3}},{{s3}}],
          [da1[4],{{m4}},{{r4}},{{s4}}],
          [da1[5],{{m5}},{{r5}},{{s5}}],
          [da1[6],{{m6}},{{r6}},{{s6}}],
          [da1[7],{{m7}},{{r7}},{{s7}}]
          
        ]);
        var options = {
          title: 'Summary',
          hAxis: {title: 'Day', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% if type.type == 1 %}
          <a class="brand" href="/sam/{{ user }}/patient/">SAM</a>
          {% else %}
           <a class="brand" href="/sam/{{ user }}/parent/">SAM</a>
           {%endif%}
          <div class="nav-collapse">
            <ul class="nav">
              {% if type.type == 1 %}
              <li><a href="/sam/{{ user }}/patient/">Home</a></li>
              {%else%}
               <li><a href="/sam/{{ user }}/parent/">Home</a></li>
               {%endif%}
              <li class="active"><a href="/sam/{{ user }}/logs/">Logs</a></li>
              <li><a href="/sam/{{ user }}/report/">Report</a></li>
              <li><a href="/sam/{{ user }}/notes/">Notes</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Logged in as {{ user.first_name }}
                <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                  <li> 
                  <a href="/sam/logout1/">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    <form action = "/sam/{{user}}/char/" method = "post">
   Pick a Week:<input type = "text" id="cal1" name = "f_date" readonly="readonly" /> 
   
    <input class = "btn btn-inverse" type="submit" value="Summary" /><br />
{% if cherr_message %}
<p><strong>{{ cherr_message }}</strong></p>
{% endif %}
    </form>
      
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
      <!-- Main hero unit for a primary marketing message or call to action -->
      
      </div>

      <hr>

      <footer>
        <p align="center">&copy; SAM 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    

  </body>
</html>
