<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smart Asthma Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

<h1>{{ user.first_name }} Report</h1>
  <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
 <!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        //var da2 = "{{ data1|safe }}";
        //document.write('ass');
        var da1 = new Array();
        var i =1;
        da1[1] = "Monday";
        da1[2] = "Tuesday";
        da1[3] = "Wednesday";
        da1[4] = "Thursday";
        da1[5] = "Friday";
        da1[6] = "Saturday";
        da1[7] = "Sunday";
        
        data.addColumn('string', 'Day');
        data.addColumn('number', 'Medication');
        data.addColumn('number', 'Symptoms');
        data.addRows([
          
          [da1[1],{{m1}},{{s1}}],
          [da1[2],{{m2}},{{s2}}],
          [da1[3],{{m3}},{{s3}}],
          [da1[4],{{m4}},{{s4}}],
          [da1[5],{{m5}},{{s5}}],
          [da1[6],{{m6}},{{s6}}],
          [da1[7],{{m7}},{{s7}}]
          
        ]);
       
        var options = {
          title: 'Summary',
          hAxis: {title: 'Day', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>-->


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% if type.type == 1 %}
          <a class="brand" href="/sam/{{ user }}/patient/">SAM</a>
          {% else %}
           <a class="brand" href="/sam/{{ user }}/parent/">SAM</a>
           {%endif%}
          <div class="nav-collapse">
            <ul class="nav">
              {% if type.type == 1 %}
              <li><a href="/sam/{{ user }}/patient/">Home</a></li>
              {%else%}
               <li><a href="/sam/{{ user }}/parent/">Home</a></li>
               {%endif%}
              <li><a href="/sam/{{ user }}/logs/">Logs</a></li>
              <li class="active"><a href="/sam/{{ user }}/report/">Report</a></li>
              <li><a href="/sam/{{ user }}/notes/">Notes</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Logged in as {{ user.first_name }}
                <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                  <li> 
                  <a href="/sam/logout1/">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
 <img src="http://chart.apis.google.com/chart?chxl=1:|Mon|Tue|Wed|Thurs|Fri|Sat|Sun&chxr=0,0,45&chxt=y,x&chbh=a&chs=560x345&cht=bvg&chco=3366CC,DC3912&chds=0,100,0,70&chd=t:{{m1}},{{m2}},{{m3}},{{m4}},{{m5}},{{m6}},{{m7}}|{{s1}},{{s2}},{{s3}},{{s4}},{{s5}},{{s6}},{{s7}}&chdl=Medication|Symptoms&chtt=Summary" width="560" height="345" alt="Summary" /><br />       
<h4>Logs</h4><br />
{% if log_list %}
<table class="table table-striped">
  <thead>
    <tr>
      <th width="100">USERNAME</th>
      <th width="100">MEDICINE</th>
      <th width="300">TIME STAMP</th>
    </tr>
  </thead>

{% for log in log_list %}
  <tbody>
    <tr>
      <td>{{ log.uid }}</td>
      <td>{{ log.med_id }}</td>
      <td>{{ log.timestamp }}</td>
    </tr>
  </tbody>
{% endfor %}
</table><br />
{%else%}
No Logs for the selected week
{%endif%}
<h4>Note</h4>
{% if note_list %}
{{ u.first_name }}
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="100">From</th>
          <th width="100">To</th>
          <th width="300">Note</th>
        </tr>
      </thead>
     
      <tbody>
       {% for note in note_list %}
        <tr>
          <td>{{ start_week }}</td>
          <td>{{end_week}}</td>
          <td>{{note}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
No Notes available for the selected Week.
{% endif %}

      <hr>

      <footer>
        <p align="center">&copy; SAM 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   

  </body>
</html>
 